
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Admin Couriers List</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="util.js"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
				<ul>
				<li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
			</ul>
		</header>
	<main>
		
		<section class="main-left">
            <nav class="side-nav">
				<ol class="side-nav-bunch">
					<li><a href="/"><span id="side-nav-icon" class="material-symbols-outlined">home</span><span>Home</span></a></li>
					<li><a href="/courier-parcels"><span id="side-nav-icon" class="material-symbols-outlined">list</span><span>Parcels</span></a></li>
					<li><a href="/courier-transit"><span id="side-nav-icon" class="material-symbols-outlined">check_box</span><span>Transit</span></a></li>
					<li><a href="/courier-route"><span id="side-nav-icon" class="material-symbols-outlined">map</span><span>Route</span></a></li>
					
				</ol>
            </nav>
        </section>

		<section class="main-right">
			<table>
				<thead>
						<th></th>
						<th>Courier</th>
						<th>Parcels</th>
					</tr>
				</thead>
				<tbody>
				{{#each couriers}}
					<tr>
						<td><img class="user-icon" src="img/user.png"></td>
						<td><a href="admin-couriers-indiv/{{this.courier_name}}">{{this.courier_name}}</a></td>
						<td>{{this.parcels}}</td>
					</tr>	
				{{/each}}
				</tbody>
			</table>
		</section>
	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
	</body>
	
</html>
