
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Parcelino.</title>
		<meta name="description" content="form to add recipient details">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
		<link href="/style.css" type="text/css" rel="stylesheet" />
		{{!-- <script type="module/javascript" src="util.js" defer></script> --}}
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
				<li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
			</ul>
		</header>
		<main>
			<section class="main-left">
				<nav class="side-nav">
					<ol class="side-nav-bunch">
						<li><a href="/"><span id="side-nav-icon" class="material-symbols-outlined">home</span><span>Home</span></a></li>
						<li><a href="/courier-parcels"><span id="side-nav-icon" class="material-symbols-outlined">list</span><span>Parcels</span></a></li>
						<li><a href="/courier-transit"><span id="side-nav-icon" class="material-symbols-outlined">check_box</span><span>Transit</span></a></li>
						<li><a href="/courier-route"><span id="side-nav-icon" class="material-symbols-outlined">map</span><span>Route</span></a></li>
						<li><a href="/courier-delivered"><span id="side-nav-icon" class="material-symbols-outlined">inbox</span><span>Delivered</span></a></li>			
					</ol>
				</nav>
			</section>
			<section class="main-right">
			<section class="recipient-details-section">
				<p>Details of recipient:</p>
				<p>Parcel's UUID: <span id="uuid">{{uuid}}</span></p>	
				<p id="uuid-alert-red" class="uuid-alert-red-not-found">Something went Wrong!</p>
				<section class="recipient-details-form">
					<label>Recipient's name:<input type="text" name="handed_to_name" required></label>
					<label>Recipient's signature:
						<canvas class="signature-pad"></canvas>
						<div id="signature-pad-clear">Clear</div>
					</label>
						<input type="hidden" name="handed_to_signature">
					<label>
					<label>
						<input type="submit" name="Submit">
					</label>
				</section>
			</section>
		</main>
		
		<script defer>

			const alertRedNotFound = document.querySelector('.uuid-alert-red-not-found');
			const redNotFound = sessionStorage.getItem('redNotFound');
			if (redNotFound) {
					alertRedNotFound.style.display = 'block';
					sessionStorage.removeItem('redNotFound');
					setTimeout(function () {
						alertRedNotFound.style.display = 'none';
						// location.reload()
					}, 1500);
				}
			
			sessionStorage.removeItem('greenSuccess') 
			sessionStorage.removeItem('redNotFound')

			const submitButton = document.querySelector('input[name=Submit]')
			const canvas = document.querySelector("canvas");
			let recipientName = document.querySelector('input[name=handed_to_name]')
			
			const signaturePad = new SignaturePad(canvas);

			submitButton.addEventListener('click', event => {
				const signature = signaturePad.toDataURL()
				const name = recipientName.value
				makeCall(name, signature)
			})

			document.getElementById("signature-pad-clear").addEventListener('click', event =>{
				signaturePad.clear()
			})

			function makeCall(name, signature) {
				axios.post(window.location.href, {
					recipientName: name,
					recipientSignature: signature
				})
					.then(function (response) {
						if (response.status === 200) {
							sessionStorage.setItem('greenSuccess', 'true');				
							location.href = '/courier-transit';
						}
					})
					.catch(function (error) {
						if (error.response.status === 404) {
							sessionStorage.setItem('redNotFound', 'true');
							location.reload();
						}
					});
			}

		</script>


	</body>
</html>
