
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Recipient Details</title>
		<meta name="description" content="form to add recipient details">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module/javascript" src="geo-maps.js" defer></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
				<li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
			</ul>
		</header>
		<main>
			
			<section class="main-left">
				<nav class="side-nav">
					<ol class="side-nav-bunch">
						<li><a href="/"><span id="side-nav-icon" class="material-symbols-outlined">home</span><span>Home</span></a></li>
						<li><a href="/courier-parcels"><span id="side-nav-icon" class="material-symbols-outlined">list</span><span>Parcels</span></a></li>
						<li><a href="/courier-transit"><span id="side-nav-icon" class="material-symbols-outlined">check_box</span><span>Transit</span></a></li>
						<li><a href="/courier-route"><span id="side-nav-icon" class="material-symbols-outlined">map</span><span>Route</span></a></li>
						<li><a href="/courier-delivered"><span id="side-nav-icon" class="material-symbols-outlined">inbox</span><span>Invoices</span></a></li>			
					</ol>
				</nav>
        	</section>
			
			<section class="main-right">
			
				<p>Details of recipient:</p>
				
				<p>Parcel's UUID: {{uuid}}</p>

				<form action="/courier-recipient-details/{{uuid}}" method="POST" enctype="multipart/form-data">
					<label>Recipient's name:<input type="text" name="handed_to_name"></label>
					<label>Recipient's signature:
						<canvas class="signature-pad"></canvas>
					</label>
					<input type="hidden" name="handed_to_signature">
					<input type="submit" name="Submit">
				</form>

				<script>
					const submit_button = document.querySelector('input[name=Submit]')
					const signature = document.querySelector('input[name=handed_to_signature]')
					const canvas = document.querySelector("canvas");

					const signaturePad = new SignaturePad(canvas);

					signature.addEventListener('click', event => {
						const data = signaturePad.toDataURL()
						signature.value = data
					})

					//console.log(signaturePad.toDataURL())




					//const latitude = document.getElementById("latitude");
					//const longitude = document.getElementById("longitude");
					//const precission_off = document.getElementById("precission_off");
					//var options = {
					//enableHighAccuracy: true,
					//timeout: 5000,
					//maximumAge: 0
					//};

					//function success(pos) {
					//var crd = pos.coords;
					//latitude.value = crd.latitude
					//longitude.value = crd.longitude
					//precission_off.value = crd.accuracy

					//console.log('Your current position is:');
					//console.log(`Latitude : ${crd.latitude}`);
					//console.log(`Longitude: ${crd.longitude}`);
					//console.log(`More or less ${crd.accuracy} meters.`);
					//}

					//function error(err) {
					//console.warn(`ERROR(${err.code}): ${err.message}`);
					//}

					//navigator.geolocation.getCurrentPosition(success, error, options);

				</script>
			</section>
		</main>
		<footer>
			<p>This is the footer</p>
		</footer>
	</body>
</html>
