
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="js/real-home.js" defer></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
				{{#if authorised}}
					<li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
				{{else}}
					<li class="login"><a href="/login"><span class="material-symbols-outlined">apps</span><span>Explore</span></a></li>
				{{/if}}
			</ul>
		</header>
		<main>	
			<section class="ooo">

					<div id="map-bitch"></div>
				
					<h1>Welcome to Parcelino<span id="dot">.</span></p></h1>
					<h2>Parcel sending reimagined...</h2>
					<h2>easy, fast, reliable!</h2>
					<h3>Click explore to discover a <span id="better-word">better</span> way of sending, managing and delivering a parcel 											
						<span id="home-sparkels" class="material-symbols-outlined">temp_preferences_custom</span>
					</h3>
				
				
					{{#if authorised}}
						<a class="btn explore" href="/login">Explore</a>			
					{{else}}
						<a class="btn explore" href="/customer-home">Explore</a>			
					{{/if}}
			</section>
		</main>
	</body>	
</html>
