
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Recipient Details</title>
		<meta name="description" content="form to add recipient details">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module/javascript" src="util.js" defer></script>
	</head>
	<body>
		<header>
			<h1>Recipient Details</h1>
			<h2>Hi {{authorised}}</h2>
				<p><a href="/logout">Log out</a></p>
				<p><a href="/">Home</a></p>
				<p><a href="/home-courier-transit">Transit</a></p>
		</header>
		<main>
			<p>Details of recipient:</p>
			
			<p>Parcel's UUID: {{uuid}}</p>

			<form action="/home-courier-receiver-details/{{uuid}}" method="POST" enctype="multipart/form-data">
				<label>Recipient's name:<input type="text" name="accepted_by"></label>
				<label>Recipient's signature:<input type="text" name="signature"></label>
				<input type="submit" name="Submit">
			</form>

		</main>
		<footer>
			<p>This is the footer</p>
		</footer>
	</body>
</html>
