
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Home</h1>
				<a href="/logout">Log out</a>
		</header>
	<main>
		<p>This is the home page.</p>
		{{#if authorised}}
			<p><a href="/send">Send 📦</a></p>
		{{/if}}


	</main>
	
	<footer>
		<hr />
		<p>This is the footer</p>
	</footer>
	</body>
	
</html>
