
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Admin Couriers List</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="util.js"></script>
	</head>
	<body>
		<header>
			<h1>Couriers List</h1>
				<p><a href="/home-admin-p">Parcels List</a></p>
				<p><a href="/">Home</a></p>
				<p><a href="/logout">Log out</a></p>
		</header>
	<main>
		<p>This is the Admin's page displaying couriers.</p>
		<table>
			<thead>
					<th></th>
					<th>Courier</th>
					<th>Parcels</th>
				</tr>
			</thead>
			<tbody>
			{{#each couriers}}
				<tr>
					<td><span class="emoji">📦</span></td>
					<td><a href="home-admin-c-indiv/{{this.courier_name}}">{{this.courier_name}}</a></td>
					<td>{{this.parcels}}</td>
				</tr>	
			{{/each}}
			</tbody>
		</table>
	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
	</body>
	
</html>
