
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js" defer></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ol>
			
				{{#if authorised}}
					{{#if role.customer}}
						<li><a href="/send">Send</a></li>
						<l1><a href="/home-customer">Parcels</a></li>
					{{/if}}
					{{#if role.courier}}
						<li><a href="/home-courier-p">Parcels</a></li>
						<li><a href="/home-courier-transit">Transit</a></li>
					{{/if}}
					{{#if role.admin}}
						<li><a href="/home-admin-c">Couriers</a></li>
						<li><a href="/home-admin-p">Parcels</a></li>	
					{{/if}}
						<li><a href="/logout">Log out</a></li>
				{{else}}
					<li><a href="/login">Log in</a></li>
					<li><a href="/register">Register</a></li>
				{{/if}}
				
			</ol>
		</header>
	<main>
		{{#if authorised}}
			<p>Hello {{authorised}}</p>
			<section>
				<p>In order to fully experience the totality of this website you need to log-in</p>
				
			</section>	
		{{else}}
			<p>Hi there!</p>
			<section>
				<p>In order to fully experience the totality of this website you need to log-in</p>
				<p>Here are some registered accounts you can access : </br>
					admin: doej p4455w0rd </br>
					courier: courier1/courier2 p4455w0rd </br>
					customer: customer1/customer2 p4455w0rd </br>
				</p>
				<p>Or you can create your own account :) </br>
					Just click register! </br>
					PS: The account you will create will have the role of customer.
				</p>
			</section>
		{{/if}}
		<div id="map"></div>
	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
		
	</body>	

</html>
