
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Log In</h1>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/register">Register</a><li>
			</ul>
		</header>
		<main class="log-in-main">

			<section class="log-in-example1">
				<div class="item1"></div>
			</section>

			<section class="log-in-section">
				<form action="/login" method="post">
					<p>
						<label for="user">Username</label><br />
						<input type="text" name="username" placeholder="your username" value="{{body.user}}" autofocus>
					</p>
					<p>
						<label for="pass">Password</label><br />
						<input type="password" name="password" placeholder="your password" value="{{body.pass}}">
					</p>
					<p><input type="submit" value="Log in"></p>
				</form>
			</section>
			
			<p>Or</p>
			
			<section class="log-in-section alternative"> 
				<form action="/login" method="post">
						<input type="hidden" name="username" value="doej">
						<input type="hidden" name="password" value="p455w0rd">
					<p><input type="submit" value="Log in as Admin"></p>
				</form>
				<form action="/login" method="post">
						<input type="hidden" name="username" value="courier1">
						<input type="hidden" name="password" value="p455w0rd">
					<p><input type="submit" value="Log in as courier1"></p>
				</form>
				<form action="/login" method="post">
						<input type="hidden" name="username" value="customer1">
						<input type="hidden" name="password" value="p455w0rd">
					<p><input type="submit" value="Log in as customer1"></p>
				</form>	
			</section>


			<section class="log-in-example2">
				<div class="item2"></div>
			</section>


		</main>
	</body>
</html>
