
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
				{{#if authorised}}
					<li class="explore"><a href="/"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
					<li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
				{{else}}
					<li class="explore"><a href="/"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
					<li class="register"><a href="/register"><span class="material-symbols-outlined">person_add</span><span>Register</span></a></li>
				{{/if}}
			</ul>
		</header>
		<main class="log-in-main">

			<section class="log-in-example1">
				<div class="item1"></div>
			</section>

			<section class="log-in-section">
				<form action="/login" method="post">
					<p>
						<label for="user">Username</label><br />
						<input type="text" name="username" placeholder="your username" value="{{body.user}}" autofocus>
					</p>
					<p>
						<label for="pass">Password</label><br />
						<input type="password" name="password" placeholder="your password" value="{{body.pass}}">
					</p>
					<p><input type="submit" value="Log in"></p>
				</form>
			</section>
			
			<p>Or</p>
			
			<section class="log-in-section alternative"> 
				<form action="/login" method="post">
						<input type="hidden" name="username" value="doej">
						<input type="hidden" name="password" value="p455w0rd">
					<p><input type="submit" value="Log in as Admin"></p>
				</form>
				<form action="/login" method="post">
						<input type="hidden" name="username" value="courier1">
						<input type="hidden" name="password" value="p455w0rd">
					<p><input type="submit" value="Log in as courier1"></p>
				</form>
				<form action="/login" method="post">
						<input type="hidden" name="username" value="customer1">
						<input type="hidden" name="password" value="p455w0rd">
					<p><input type="submit" value="Log in as customer1"></p>
				</form>	
			</section>


			<section class="log-in-example2">
				<div class="item2"></div>
			</section>


		</main>
	</body>
</html>
