
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
		<link href="css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
				{{#if authorised}}
					<li class="explore"><a href="/"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
					<li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
				
				{{else}}
					<li class="explore"><a href="/"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
					<li class="explore-log-in"><a href="/login"><span class="material-symbols-outlined">login</span><span>Log-in</span></a></li>
				{{/if}}
			</ul>
		</header>
		<main class="main-auth">

			<section class="auth-section">
				<form action="/register" method="post">
					<p>Register</p>
					<input type="text" name="username" placeholder="Preferred username" value="{{body.user}}">
					<input type="password" name="password" placeholder="Chosen password">
					<input type="password" name="password2" placeholder="Repeat chosen password">
					<input type="submit" value="Create">
				</form>
			</section>
		</main>
	</body>
</html>
