
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Send Parcel Page</title>
		<meta name="description" content="form to add new parcel">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="util.js" defer></script>
	</head>
	<body>
		<header>
		<h1>Send parcel 📦</h1>
		<p><a href="/">Home page</a></p>
		<p><a href="/logout">Log out</a></p>
		</header>
		<main>

		<p>Hello <strong>{{authorised}}</strong></p>

		<form action="/send" method="post" enctype="multipart/form-data">
			<label>Origin Postcode<input type="text" name="sender_postcode" maxlength="10" required></label></br>
			<label>Destination Postcode<input type="text" name="recipient_postcode" maxlength="10" required></label></br>
			<label>
				Weight
				<input type="range" name="slider" min="0" max="20" value="1">
				<output name="slider_value">1</output>
				Kg
			</label></br>
			<label>Recipient Name<input type="text" name="recipient_name"></label></br>
			<label>Full Adress</label></br>
			<textarea name="full_address" rows="5" cols="40" maxlength="500"></textarea></br>
			<input type="submit" value="Submit">
			</form>
		</main>
	</body>
</html>
