
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
		<h1>Send parcel 📦</h1>
		<a href="/logout">Log out</a>
		</header>
		<main>
		{{#if auth}}
			<p>Logged in as <strong>{{auth}}</strong></p>
		{{/if}}
		  <p><a href="/">Home page</a></p>
		
		<form action="/send" method="post" enctype="multipart/form-data">
			<label>Origin Postcode<input type="text"></label></br>
			<label>Destination Postcode<input type="text"></label></br>
			<label>Weight
				<input type="range" id="slider" min="0" max="20" placeholder="Kg">
				<output name="weight_val">
			</label></br>
			<label>Recipient Name<input type="text"></label></br>
			<label>Full Adress</label></br>
			<textarea rows="5" cols="40"></textarea></br>
			<input type="submit" value="Submit">
			</form>
		
		</main>

	</body>
</html>
