
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="js/testing.js" defer></script>
	</head>
	<body>
		<main>	





				<div class="wrap" data-wrap>
					<div class="blue"></div>
					<div class="red"></div>
					<div class="yellow"></div>
				</div>











			{{!-- <section class="ooo">
				<div id="map-bitch"></div>
				<div class="mid" >
					<input
						id="origin-input"
						class="controls"
						type="text"
						placeholder="Enter an origin location"
						onClick="this.setSelectionRange(0, this.value.length)"
					/>
					<input
						id="destination-input"
						class="controls"
						type="text"
						placeholder="Enter a destination location"
						onClick="this.setSelectionRange(0, this.value.length)"
					/>
					<div id="clear-button" >clear</div>
				</div>
			</section> --}}
		</main>
	</body>	
</html>
