
/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

@font-face{
    font-family :'Libre Franklin', sans-serif;
}


body {
    font-family: 'Libre Franklin', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

main {
    height: 70vh;
    width: 99vw;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

footer {
    padding: 10px;
}



span.emoji {
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;
}


.parcel-link { 
    cursor: pointer; 
}


/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


#wrapper {
  display: flex;
}

#left {
  flex: 0 0 90%;
  font-size: 22px;
}

#right {
  flex: 1;
  font-size: 22px;

}