
/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

@font-face{
    font-family :'Libre Franklin', 'Roboto', sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


  /* Header & Navbar */

header {
  font-family: 'Libre Franklin';  
  font-weight: normal;
  font-size: 150%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 8px -10px rgb(0 0 0 / 15%);
  /* box-shadow: 0 10px 10px -px rgb(138, 137, 137, 0.8); */
  /* background-color:rgb(252, 252, 252); */
}



  /* Main */

main {
  font-family: 'Roboto', sans-serif;  
  display: flex;
  flex-direction: column;
  position: relative;
  /* padding-left: 11%;
  padding-right: 10%;
  transform: scale(0.9); */
  
}


/* Home Not logged */

.explicative-hero {
  font-family: 'Roboto', sans-serif;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  padding-top: 0;
}

.explicative-hero-text {
  font-family: 'Roboto', 'Franklin', sans-serif;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  gap: 1rem;
}

.explicative-hero-text h2:last-of-type {
  font-family: 'Roboto';
  font-weight: 400;
  color: #1c81e0;
  /* font-weight: 600; */

}

.explicative-hero-text h3 {
  font-family: 'Libre Franklin';
  font-weight: 300;
}
.explicative-hero-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 10rem;
  color: white;
  background-color: #1c81e0;
  border-radius: 5px;
  margin-top: 1rem;
  transition-duration: 0.1s;
}
.explicative-hero-text a:hover {
  transform: scale(1.1);
  transform-origin: center;
  opacity: 0.8;
}

#home-sparkels {
  font-size: 18px;
}
/* #better-word {
  color: #1c81e0;
  font-weight: 600;
} */

.hero-background {
  position: absolute;
  width: 70%;
  height: 80%;
  /* transform: scale(0.90); */
  bottom: -30%;
  /* right: 0; */
  z-index: -99;
  }


/* Home Logged in */

section.main-sides {
  display: flex;
  justify-content: center;
  padding-left: 10%;  
  padding-right: 10%;
}



/* Side nav bar */

section.main-left {
  padding: 20px;
  position: absolute;
  height: auto;
  min-height: 100% !important;
  left: 8%;
  
  /* width: auto; */
  /* min: 100% !important; */
} 


/* section.main-left div{ */
  /* width: 50%; */
  /* background-color: rgb(124, 116, 116); */
  /* height: 4rem; */
/* }  */


section.main-right {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  width: 70%;
  position: absolute;
  left: 14%;
  /* top: 20%; */
  /* padding: 5rem; */
  padding-left: 10rem;
  padding-bottom: 8rem;
  padding-top: 3rem;
  
  /* min-width: 70vw !important; */
}

section.main-right.aligned {
  /* flex-direction: row; */
  /* justify-content:  */
  
    /* align-items: top;  */
}

/* footer {
  position: absolute;
  bottom: 0;
} */




.get-started {
  margin-top: 1rem;
  height: 24px;
  font-size: 16px;
  width: auto;
  background-color: rgb(39, 91, 202);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Libre Franklin';
  font-weight: 600;
  font-size: 50px;
  margin-left: 1em;
}

#dot {
  color: rgb(20, 85, 224);
  font-size: 40px;
}


/* .plus-sign {
  font-size: 26px;
} */

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul li {
  font-family: 'Roboto';
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  background-color: #fff;
  padding: 0 1em;

}

li.explore a,
li.explore-log-in a,
li.logout a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: 500;
}


li.explore a span,
li.explore-log-in a span,
li.register a span,
li.logout a span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.1s;
  font-size: 28px;

}

li.explore a span:last-of-type,
li.explore-log-in a span:last-of-type,
li.register a span:last-of-type,
li.logout a span:last-of-type {
  font-size: 14px;
  
} 

li.explore a:hover span,
li.explore-log-in a:hover span,
li.register a:hover span,
li.logout a:hover span {  
  cursor: pointer;
  color: #1c81e0;
  transform: scale(1.08);
  transform-origin: center;  
}


  /* Side nav */

nav.side-nav {
  display: flex;
  position: relative;
  padding-top: 10rem;
  position: sticky;
  top: 50px;
  
}

nav.side-nav ol{  
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
} 

ol.side-nav-bunch {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 1px 1px 5px -1px rgba(137, 137, 138, 0.8);
}

ol.side-nav-bunch li {
  font-family: 'Roboto';
  font-size: 20px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 0;
  height: 100%;
  transition:0.1s;
  
}


ol.side-nav-bunch li:first-child {
  border-radius: 20px  20px 0 0;
}

ol.side-nav-bunch li:last-child {
  border-radius: 0 0 20px  20px;
}

ol.side-nav-bunch li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  
}

ol.side-nav-bunch li a span {
  font-size: 16px;
  color: #5c5c5c;

}

.material-symbols-outlined#side-nav-icon {
  font-size: 32px;
}

.material-symbols-outlined#side-nav-icon:hover {
  color: #1c81e0;
}

ol.side-nav-bunch li:hover span{
  cursor: pointer;
  transform: scale(1.07);
  transform-origin: center; 
  color: #1c81e0;
  
}




  /* Button */

/* button {
  background-color: rgb(72, 109, 228);
  color: #ffff;
  height: 2.5rem;
  width: 3.5rem;
  border-style: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button.add-transit {
  z-index: -1;
} */




  /* Breadcrumbs */

/* .breadcrumbs-section {
  margin-top: 2rem;
  padding-left: 5rem;
}

.breadcrumbs-ul {
  padding: 10px;
}

.breadcrumbs_item {
  display: inline;
  padding: 0;
}

.breadcrumbs_item:not(:last-of-type)::after {
  content: '\203a';
  margin: 0;
  color: rgba(180, 180, 180, 0.8);

}

.breadcrumbs-link {
  text-decoration: none;
  color: rgba(67, 156, 230);
}

.breadcrumbs-link:hover {
  text-decoration: underline;
  color: rgba(136, 199, 241, 0.6);
} */



section.map-link {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-link-img {
  object-fit: cover;
  height: 140px;
  width: 60%;
  border-radius: 20px;
  opacity: 0.5;
}

section.alerts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  padding-bottom: 0;
  padding-top: 1rem;
  gap: 1rem;
}

section.alerts .input-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  width: 60%;
}

input[name=uuid] {
  height: 50px;
  width: 100%;
  padding-left: 1rem;
  font-size: 22px;
  border-radius: 10px 0 0 10px;
  border-style: rgb(78, 78, 78);

}

button.insert-uuid-button,
button.insert-uuid-button-accept {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60px;
  background-color: #1c81e0;
  border-radius: 0 10px 10px 0;
  border-style: none;
  color: #fff;
}


button.insert-uuid-button:hover,
button.insert-uuid-button-accept:hover {
  opacity: 0.8;
  cursor: pointer;
}

button.insert-uuid-button-accept {
  background-color: #4CAF50;
}

  /* Map */

.map {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content:  center;
  margin: 4rem 0 4rem 0;
}

#map {
  height: 100%;
  width: 50%;
}

.courier-route-map {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

.routes-map {
  border-radius: 20px;  
}

.routes-table {
  display: none;
}

section.map-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#map-one-parcel {
  height: 400px;
  width: 60vw;
  border-radius: 20px 20px 20px 20px;
}




/* Maps displaying courier route */

.courier-route-map {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  
}
.courier-route-map p {
  padding-left: 1rem;
  font-size: 20px;
  font-weight: 300;
}

.routes-map{
  height: 600px;
  width: 65vw;
  border-radius: 20px 20px 20px 20px;
}


div#directions-route {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 8rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 7px 2px rgb(138, 137, 137, 0.35);
  /* width: 70%; */
  margin-left: 15%;
}

  /* Log-in page */



.log-in-main,
.main-auth {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 10rem;
  
}

.log-in-container,
.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    box-shadow: 0px 3px 7px 2px rgb(138, 137, 137, 0.35);
  width: 20%;
  height: 500px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.log-in-section,
.log-in-section-quick {
  width: 100%;
  height: auto;
}

.log-in-section form,
.auth-section form {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.log-in-section form input,
.auth-section form input {
  width: 60%;
  height: 30px;
  font-size: 16px;
  color: #5c5c5c;
}

.log-in-section form input[type=submit],
.auth-section form input[type=submit] {
  background-color: #4CAF50;
  border-style: none;
  border-radius: 5px;
  color: #ffff;
  transition-duration: 0.1s;
  height: 35px;
}

.log-in-section form input[type=submit]:hover,
.auth-section form input[type=submit]:hover {
  transform: scale(1.05);
  transform-origin: center;
  cursor: pointer;
  opacity: 0.8;
}

.log-in-section-quick form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.log-in-section-quick form input[type=submit] {
  width: 60%;
  height: 35px;
  font-size: 16px;
  background-color: #1c81e0;
  border-style: none;
  border-radius: 5px;
  color: #ffff;
  transition-duration: 0.1s;
}


.log-in-section-quick form input[type=submit]:hover {
  transform: scale(1.05);
  transform-origin: center;
  cursor: pointer;
  opacity: 0.8;
}



.auth-section {
  width: 20%;
  height: 400px;
  align-items: center;
  padding: 0;
}
.auth-section form {
  width: 90%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


  /* Register */

/* .main-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 219, 167);
  height: 100vh;
}

section.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    box-shadow: 0px 3px 7px 2px rgb(138, 137, 137, 0.35);
  width: 20%;
  height: 500px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  }


section.auth-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
  font-size: 26px;
  gap: 2rem;

}

section.auth-section form input {
  width: 60%;
  height: 30px;
  font-size: 16px;
  color: #5c5c5c;
} */



  /* Form */

section.send-parcel-form-main {
  display: flex; 
  align-items: center;
  justify-content: center;
}

form.address-form {
  width: 50%;
  background-color: #ffff;
  margin: 5rem 0;
  padding: 4rem 2rem 4rem 2rem;
  display: flex;  
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  border-radius: 20px;

  box-shadow: 0px 3px 7px 2px rgb(138, 137, 137, 0.35);
}

form label {
  display: flex;
  /* margin: 0.5rem; */
  justify-content: space-between;
  width: 80%;
  /* padding: 0 10rem; */
}

form label input{
  width: 40%;
  height: 1.5rem;
  /* padding: 0 10rem; */
}

form input.submit-button {
  margin-top: 1rem;
  width: 15rem;
  height: 2rem;
  background-color: #4CAF50;
  color: #fff;
  font-size: 20px;
  border-style: none;
  border-radius: 5px;
  /* padding: 0 10rem; */
  transition-duration: 0.1s;
}

form input.submit-button:hover {
  transform: scale(1.05);
  transform-origin: center;
  opacity: 0.8;
  cursor: pointer;
}

section.recipient-details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  gap: 2rem;
}

.recipient-details-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 5rem 2.5rem;
  width: 60%;
  box-shadow: 1px 1px 5px -1px rgba(137, 137, 138, 0.8);
  border-radius: 20px;

}

.recipient-details-form label{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.recipient-details-form label,
.recipient-details-form canvas {
  width: 100%;
}

.recipient-details-form label:first-of-type input{

  border-style: 2px solid rgb(99, 99, 99);
  border-radius: 5px;
  height: 2rem;
}

.recipient-details-form label:last-of-type input{
  /* background-color:rgb(230, 230, 230); */
  background-color: #1c81e0;
  color: #fff;
  text-decoration: none;
  border-style: none;
  border-radius: 5px;
  height: 2rem;
  transition-duration: 0.1s;
}

.recipient-details-form label:last-of-type input:hover{
  /* background-color:rgb(230, 230, 230); */
  /* background-color: #4195e4; */
  opacity: 0.8;
  transform: scale(1.04);
  transform-origin: center;
  cursor: pointer;
}



.signature-pad {

  /* border-radius: 20px; */
  border: 1px solid black;
  /* bo/rder-style: 4px solid red; */ */

}

.signature-pad:hover {
    cursor: crosshair;
}

#signature-pad-clear {
  text-decoration: underline;
}

#signature-pad-clear:hover {
  cursor: pointer;
}



  /* Table with Parcels: ; */

section.table-section {
  display: flex;
  margin: 2em;
  justify-content: center;
  
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

td {
  width: auto;
  text-align: center;
  padding: 3px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

td:first-of-type {
  width: 8%;
  border-radius: 20px 0 0 20px;
  text-align: end; 
}

td:last-of-type {
  width: 5%;
  border-radius: 0 20px 20px 0;
}


 /* Couriers table */

section.couriers {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding: 3rem;
  padding-top: 6rem;
  font-size: 20px;
  
}

section.couriers td  {
  /* padding: 1rem; */
  border-radius: 0;
  /* box-shadow: 0px 3px 7px 2px rgb(138, 137, 137, 0.35); */
  border-bottom: 1px solid black;
}

  /* Parcles */

.parcels {
  padding: 4rem;
  
  display: flex;
  justify-content: center;
  /* overflow: auto;   */
  /* width: ; */
  /* width: 70vw; */
  
  
}
.parcels.indiv{
    
    
  /* width: auto;
  min-height: 100% !important; */

}

.parcels table{
  /* width: 60vw; */
  border-spacing: 1.5rem;
  color: #5c5c5c;
  width: 100%;
}


/* If list of parcels empty */

.empty {
  display: none;
  margin: 10rem 0 0 26rem;
  font-size: 18px;
}




  /* Individual Parcel */

.title-parcel-details {
  padding-left: 2rem;
  color: #5c5c5c;
}


.parcel-link {
  cursor: help;
  /* box-shadow: 1px 1px 10px -3px rgb(138, 137, 137, 0.8); */
  box-shadow: 1px 1px 5px -1px rgba(137, 137, 138, 0.8);
  border-radius: 20px ;   
  transition:0.1s;
 
}

.parcel-link:hover {
  color: #1c81e0;
  transform: scale(1.009);
  transform-origin: center;
}

.formated:hover {
  color: #1c81e0;
  
}
/* .button-transit {
  margin: 0;
  padding: 0;
} */

.td-deliver {
  background-color: #1c81e0;
  color: #fff;
  padding: 2rem;
  width: 100%;
  height: 100%; 
}

.td-transit {
  background-color: #4CAF50;
  color: #fff;
  padding: 2rem;
  width: 100%;
  height: 100%; 
}

.td-deliver span:first-child,
.td-transit span:first-child {
  font-size: 32px;
}

.td-deliver:hover,
.td-transit:hover {
  cursor: pointer;
  opacity: 0.8;
}



.parcel-link.delivered td {
  padding: 1.3rem 0;
}


.solo-parcel {
  box-shadow: 1px 1px 5px -1px rgba(137, 137, 138, 0.8); 
  border-radius: 20px;
  
}

.solo-parcel td {
    padding: 1.3rem 0;
}

.solo-parcel td span{
    min-width: 2rem;
}
.solo-parcel td:first-of-type {
    padding-left: 1.3rem;
}

.solo-parcel td:last-of-type {
    padding-right: 1.3rem;
}



.admin-parcels {

}




/* .td-deliver {
  background-color: #1c81e0;
  color: #fff;
  padding: 2rem;
  width: 100%;
  height: 100%; 
} */

/* .td-transit {
  background-color: #1c81e0;
  color: #fff;
  padding: 2rem;
  width: 100%;
  height: 100%; 
} */

/* .td-deliver span:first-child {
  font-size: 32px;
} */

/* .td-deliver:hover {
  cursor: pointer;
} */



  /* box-shadow: 1px 1px 10px -3px rgb(138, 137, 137, 0.8); */
  /* font-family: 'Roboto'; */

/* .button-td-deliver{
   background-color: #1c81e0;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0 20px 20px 0;
  box-shadow: 1px 1px 5px -1px rgba(137, 137, 138, 0.8);

} */

/* .button-td-deliver:last-child{
  font-size: 16px;
} */


/* .button-td-deliver:hover {
  background-color: #3f99ec;
} */

  /* box-shadow: 1px 1px 10px -3px rgb(138, 137, 137, 0.8); */
  /* display: flex; */

/* .button-add-transit{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0 20px 20px 0;
  box-shadow: 1px 1px 5px -1px rgba(137, 137, 138, 0.8);

} */

/* .button-add-transit:last-child{
  font-size: 16px;
} */

.parcel-icon {
  height: 50%;
  width: 50%;
  
}

.user-icon {
  height: 50%;
  width: 50%;
}







  /* Explicative section */

/* .explicative {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.explicative-text {
  width: 30vw;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explicative-image {
  width: 30vw;
   margin-left: 1.5rem;
   margin-right: -5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.explicative-image img {
  height: 80%;
  width: auto;

} */





.delivered-invoice {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  justify-content: space-evenly;
  padding-left: 4rem;
}

.delivered-invoice div {
  /* background-color: greenyellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 16px;
}


.delivered-invoice div span{
  font-size: 20px;
}

.delivered-invoice div:last-of-type {
  /* background-color: greenyellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}








#uuid-alert {
  display: none;
  font-size: 32px;
  color: red;
  border: 3px solid green;
}



.uuid-alert-green-success {
  display: none;
  padding: 1rem;
  border: 2px solid rgb(104, 216, 70);
  border-radius: 10px;
  color: #5c5c5c;
  background-color: rgb(104, 216, 70, 0.2);
}

.uuid-alert-yellow-transit,
.uuid-alert-yellow-delivered {
  display: none;
  padding: 1rem;
  border: 2px solid rgb(250, 216, 64);
  border-radius: 10px;
  color: #5c5c5c;
  background-color: rgba(248, 217, 78, 0.2);
}

.uuid-alert-red-not-found {
  display: none;
  padding: 1rem;
  border: 2px solid rgb(240, 76, 76);
  border-radius: 10px;
  color: #5c5c5c;
  background-color: rgba(240, 77, 77, 0.2);
}


/* Charts */


section.info-space {
  display: flex;
  flex-direction: column;
  /* padding: 4rem; */
  padding-top: 4rem;
  gap: 6rem;
  justify-content: start;
}

/* section.info-bundle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: ;

}
section.info-bundle1 div {
  font-size: 30px;
  box-shadow: 1px 1px 10px -3px rgb(138, 137, 137, 0.8);

} */




section.info-bundle2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}

section.info-bundle2.customer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* gap: 1rem; */
  box-shadow: 1px 1px 10px -3px rgb(138, 137, 137, 0.8);
  /* margin-top: 13rem; */
  margin-top: 13rem;
  padding: 2rem;
  border-radius: 20px;
  padding-left: 0;
  padding-right: 0;
  
}

div.pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 600px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -3px rgb(138, 137, 137, 0.8);

}

div.delivered-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  min-height: 100% !important;
  border-radius: 20px;
  gap: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  box-shadow: 1px 1px 10px -3px rgb(138, 137, 137, 0.8);
}

canvas#myChartCourier, 
canvas#myChartAdmin {
  
  max-width: 350px;
  max-height: 350px;

  border-radius: 20px;

}

.numbers-and-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.home-parcel-icon {
  height: 40px;
  width: 40px;
  /* margin: 0.5rem;   */
}

.admin-total-instore,
.admin-total-in-transit,
.admin-total-couriers,
.admin-total-customers,
.admin-total-delivered,
.courier-delivered-numbers {
  font-size: 40px;
  font-weight: 600;
  color: #1c81e0;
}

.numbers-and-icon span{
  font-size: 28px;
}
/* 
.numbers-and-icon span#side-nav-icon-bolt{
  color: #ddb637;
}

.numbers-and-icon span#side-nav-icon-sparkel{
  color: #e22f56;
}

.numbers-and-icon span#side-nav-icon-handshake{
  color: #379bdd;
}
 */



table.admin-table {
  /* width: auto; */
  /* min-width: 100% !important; */
  /* color: #1c81e0; */
}
